### OS ###
.DS_Store
Thumbs.db

### Build ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### VS Code ###
.vscode/

### STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Logs ###
*.log
logs/

### Java ###
*.class
*.jar
*.war
*.ear

### Spring ###
target/

### Sensitive files ###
src/main/resources/credentials.json
application.yml
tokens/StoredCredential
.env

### Others ###
*.zip
*.tar
*.gz
*.rar
